# Node.js / React
/frontend/node_modules
/frontend/build
.env


# Python / Flask
/backend/venv
*.pyc
__pycache__/

# OS Files
.DS_Store
Thumbs.db

# Build directories
/frontend/build
/backend/venv
*.pyc
__pycache__/